Todo\todoapp\__pycache__
Todo\todoapp\migrations\__pycache__
Todo\Todo\__pycache__
Todo\Todo\__pycache__\
Todo\Todo\__pycache__\settings.cpython-38.pyc
Todo\todoapp\__pycache__\__init__.cpython-38.pyc
env